* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    height: 50px;
    background-color: #333;
    line-height: 50px;
    justify-content: space-between;
}

.navbar__item {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.navbar__item a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px 0 5px;
}

.form {
    width: 70%;
    padding: 20px;
    border: 1px #888 solid;
    margin: 20px auto;
}

.form-row {
    padding: 10px 0 10px 0;
    display: flex;
}

.form__label {
    min-width: 120px;
}

.form__input {
    flex: 1;
}

.column-layout {
    display: flex;
}

.column__item {
    flex: 1;
    padding: 8px;
    border: 1px solid #999;
    margin: 5px;
}

.column__item p {
    line-height: 1.2rem;
    text-align: justify;
}

.main-col {
    flex: 3;
}

.feature-layout {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;
}


.feature-layout__item {
    flex-basis: 30%;
}

.feature-layout__item p {
    text-align: justify;
    line-height: 1.3rem;
}

.wrap-layout {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border: 1px solid #999;
    margin: 5px;
    flex-wrap: wrap-reverse;
}

.wrap-item {
    width: 150px;
    height: 90px;
    background-color: #555;
    color: #fff;
    line-height: 90px;
    text-align: center;
    margin: 5px;
}

.chart {
    height: 500px;
    border: 2px solid #777;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px auto;
}

.chart__item {
    width: 70px;
    text-align: center;
    background-color: turquoise;
    height: var(--percent);
    align-self: flex-end;
}